@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500;700&family=Poppins:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

$ctaColor: #4d61fc;
$backgroundColor: #e9f1ff;
// $backgroundColor: #a9ccfd;
$darkCtaColor: #0000ff;
$blueTxt: #5f71fc;
$lightPurple: #6167d6;
$white: #f6f6f6;
$black: #333;
$lightPurplea: #7e83df;

#logo {
    // font-family: 'Hepta Slab', serif;
    // font-size: 82px;
    color: lightcoral;
}

a {
    color: #737373;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
    transition: .4s;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $lightPurple;
    cursor: pointer;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightcoral;
}
  