header {
    position: fixed;
    top:  0;
    width: 100%;
    height: 8vh;
    background-color: #fafafa;
    // background: #fff;
    z-index: 9999;
    border-bottom: 1px solid #eee;
    // background: green;
    #header-container {
        display: flex;
        
        #header-logo-wrapp {
            flex: 1;
            display: flex;
            align-items: center;
    
            #logo {
                font-size: 20px;
                font-weight: bold;
                color: $black;
            }
        }
        
        #header-list-wrapp {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            #header-list {
                width: 80%;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}

#progress-indicator-bar {
    position: fixed;
    top: 8vh;
    height: 2px;
    width: 100%;
    // background: #f1f1f1;
    z-index: 999;
}

#progress-indicator {
    background: -webkit-linear-gradient(300deg, #f08080,  $ctaColor);
    height: 2px;
    width: 100%;
}

#progressed { 
    height: 2px;
    width: 90%;
    z-index: 1000;
    background: #f1f1f1;
    position: absolute;
    top: 0;
    right: 0;
    // max-width: 100%;
}

#translate-icon-wrapp {
    height: 45px;
    width: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    // background: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // background: #fff;
    cursor: pointer;
    
    img {
        width: 20px;
        height: 20px;
    }
    
    p {
        font-weight: 600;
    }
}

#translate-options-wrapp {
    height: 122px;
    width: 160px;
    margin-left: -40px;
    // box-shadow: 0px 0px 1px $black;
    margin-top: 20px;
    position: absolute;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    display: none;
    flex-direction: column;

    #translate-options-heading-wrapp {
        flex: 1;    
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #eee;
        
        p {
            padding: 5px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    #translate-options-list-wrapp {
        flex: 2;
        list-style: none;

        li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background: #fafafa;
                transition: .4s;
            }
        }
    }
}

#header-a-btn {

    a {
        border: 1px solid $ctaColor;
        background: $ctaColor;
        color: $white;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        transition: .4s;

        &:hover {
            background: $darkCtaColor;
        }
    }
}