body {
    overflow-x: hidden;
}

#landing-bg {
    height: 100vh;
    width: 100%;
    position: absolute;

    img {
      height: 100%;
      width: 100%;  
      position: absolute;
      object-fit: cover;
    }
}

#landing {
    height: 100vh;
    width: 100%;
    // background: $backgroundColor;
    // background: -webkit-linear-gradient(0deg, #fff, $backgroundColor);
    // opacity: ;
}

#landing-heading {
    font-size: 68px;
    font-weight: bold;
    // margin-top: 20vh;
    // text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    line-height: 98px;
    max-width: 84%;
    color: $black;
    text-align: center;
    z-index: 10;
}

#landing-heading-bg {
    color: $white;
    background-color: $lightPurple;
    margin-right: 10px;
    padding-left: 10px;
    // opacity: .7;
    text-decoration: underline;
    z-index: 10;
    text-decoration-color: $white;
}

.landing-heading-un {
    // background-color: lightcoral;
    color: $black;
    margin-right: 5px;
    padding-left: 10px;
    // text-decoration: underline;
    text-decoration-color: $lightPurple;
    background: -webkit-linear-gradient(45deg, lightcoral, $ctaColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
}

#landing-subheading {
    // margin-left: 20%;
    // margin-top: 2%;
    // max-width: 64%;
    line-height: 30px;
    color: #777777;
    text-align: center;
    width: 50%;
    z-index: 10;
    // display: none;
}

a {
    display: block;
}

#landing-cta {
    height: 70px;
    width: 340px;
    background: $ctaColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    transition: .4s;
    z-index: 10;

    &:hover {
        transform: translateY(-2px);
        background: #344bfc;
    }
}

#landing-bottom-link {
    color: $blueTxt;
    display: block;
    max-width: 150px;
    opacity: .7;
    transition: .4s;
    z-index: 10;

    &:hover {
        opacity: 1;
    }
}

#header-gap {
    height: 8vh;
}

#landing-content {
    height: 90vh;
}

#landing-content-wrapp {
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#landing-heading-wrapp {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#landing-subheading-wrapp {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6.5vh;
    // display: none;
}

#landing-cta-wrapp {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 10vh;
}

#landing-bottom-link-wrapp {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}