body {
    overflow-x: hidden;
}

#landing-bg {
    height: 100vh;
    width: 100%;
    position: absolute;

    img {
        // opacity: .8;
      height: 100%;
      width: 100%;  
      position: absolute;
      object-fit: cover;
    }
}

#landing {
    height: 100vh;
    width: 100%;
    // background: $backgroundColor;
    // background: -webkit-linear-gradient(0deg, #fff, $backgroundColor);
    // opacity: ;
}

#landing-heading {
    font-size: 80px;
    font-weight: bold;
    // margin-top: 20vh;
    // text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    line-height: 100px;
    max-width: 90%;
    color: $black;
    text-align: center;
    z-index: 10;
    // text-transform: uppercase;
}

#landing-heading-bg {
    // color: $white;
    // background-color: $lightPurple;
    margin-right: 10px;
    padding-left: 10px;
    // opacity: .7;
    // text-decoration: underline;
    z-index: 10;
    text-decoration-color: $white;
}

.landing-heading-un {
    // background-color: lightcoral;
    color: $black;
    margin-right: 5px;
    padding-left: 10px;
    // text-decoration: underline;
    text-decoration-color: $lightPurple;
    background: -webkit-linear-gradient(45deg, #f08080, $ctaColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
    // text-transform: uppercase;
}

#landing-subheading {
    // margin-left: 20%;
    // margin-top: 2%;
    // max-width: 64%;
    line-height: 30px;
    color: #333;
    text-align: center;
    width: 45%;
    z-index: 10;
    // display: none;
}

a {
    display: block;
}

#landing-cta {
    height: 70px;
    width: 380px;
    background: $ctaColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    transition: .4s;
    z-index: 10;
    // background: -webkit-linear-gradient(300deg, $ctaColor, #f08080);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: 18px;
    
    &:hover {
        transform: translateY(-2px);
        background: #344bfc;
    }
}

#landing-bottom-link {
    color: $blueTxt;
    display: block;
    max-width: 150px;
    opacity: .7;
    transition: .4s;
    z-index: 10;

    &:hover {
        opacity: 1;
    }
}

#header-gap {
    height: 8vh;
}

#landing-content {
    height: 90vh;
}

#landing-content-wrapp {
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#landing-heading-wrapp {
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#landing-subheading-wrapp {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    // display: none;
}

#landing-cta-wrapp {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 10vh;
    margin-top: 3vh;
}

#landing-bottom-link-wrapp {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

#landing-code {
    position: absolute;
    font-size: 440px;
    line-height: 320px;
    bottom: 0vh;
    right: 0vh;
    font-weight: bold;
    opacity: .034;
}

#landing-code2 {
    position: absolute;
    font-size: 440px;
    line-height: 300px;
    top: 12vh;
    left: 0vh;
    font-weight: bold;
    opacity: .034;
}

#landing-dots-wrapp {
    // display: none;
    position: absolute;
    height: 90px;
    width: 90px;
    top: 74vh;
    left: 16%;
    display: flex;
    flex-direction: column;
}

.landing-dots-column {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.landing-dot {
    display: none;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: $black;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  bottom: 7vh;
}

.icon-scroll {
  width: 30px;
  height: 45px;
  margin-left: -15px;
  margin-top: -22.5px;
  box-shadow: inset 0 0 0 1px #222;
  border-radius: 20px;
  cursor: pointer;
}

.icon-scroll:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #000;
  margin-left: -3px;
  top: 6px;
  border-radius: 3px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}