@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500;700&family=Poppins:wght@700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

#logo {
  color: lightcoral;
}

a {
  color: #737373;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6167d6;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightcoral;
}

body {
  overflow-x: hidden;
}

#landing-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#landing-bg img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

#landing {
  height: 100vh;
  width: 100%;
}

#landing-heading {
  font-size: 84px;
  font-weight: bold;
  line-height: 100px;
  max-width: 100%;
  color: #333;
  text-align: center;
  z-index: 10;
}

#landing-heading-bg {
  margin-right: 10px;
  padding-left: 10px;
  z-index: 10;
  -webkit-text-decoration-color: #f6f6f6;
          text-decoration-color: #f6f6f6;
}

.landing-heading-un {
  color: #333;
  margin-right: 5px;
  padding-left: 10px;
  -webkit-text-decoration-color: #6167d6;
          text-decoration-color: #6167d6;
  background: -webkit-linear-gradient(45deg, #f08080, #4d61fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

#landing-subheading {
  line-height: 30px;
  color: #333;
  text-align: center;
  width: 45%;
  z-index: 10;
}

a {
  display: block;
}

#landing-cta {
  height: 70px;
  width: 400px;
  background: #4d61fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
          box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 10;
  font-size: 18px;
}

#landing-cta:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: #344bfc;
}

#landing-bottom-link {
  color: #5f71fc;
  display: block;
  max-width: 150px;
  opacity: .7;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 10;
}

#landing-bottom-link:hover {
  opacity: 1;
}

#header-gap {
  height: 8vh;
}

#landing-content {
  height: 90vh;
}

#landing-content-wrapp {
  height: 92vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing-heading-wrapp {
  height: 17vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing-subheading-wrapp {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7vh;
}

#landing-cta-wrapp {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vh;
}

#landing-bottom-link-wrapp {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1vh;
}

#landing-code {
  position: absolute;
  font-size: 440px;
  line-height: 320px;
  bottom: 0vh;
  right: 0vh;
  font-weight: bold;
  opacity: .034;
}

#landing-code2 {
  position: absolute;
  font-size: 440px;
  line-height: 300px;
  top: 12vh;
  left: 0vh;
  font-weight: bold;
  opacity: .040;
  color: lightcoral;
}

#landing-dots-wrapp {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 74vh;
  left: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-dots-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.landing-dot {
  display: none;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #333;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  bottom: 5vh;
}

.icon-scroll {
  width: 30px;
  height: 45px;
  margin-left: -15px;
  margin-top: -22.5px;
  -webkit-box-shadow: inset 0 0 0 1px #333;
          box-shadow: inset 0 0 0 1px #333;
  border-radius: 20px;
  cursor: pointer;
}

.icon-scroll:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #333;
  margin-left: -3px;
  top: 6px;
  border-radius: 3px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

#landing-mark-wrapp {
  height: 5vh;
  width: 100%;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13vh;
  margin-bottom: 2vh;
}

#landing-mark-wrapp #landing-mark {
  height: 5vh;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#e9f1ff), to(#e9f1ff)), -webkit-gradient(linear, left top, right top, from(#6167d6), to(lightcoral));
  background: linear-gradient(to right, #e9f1ff, #e9f1ff), linear-gradient(to right, #6167d6, lightcoral);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  z-index: 1000000;
  line-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: #fafafa;
  z-index: 9999;
  border-bottom: 1px solid #eee;
}

header #header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-container #header-logo-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header-container #header-logo-wrapp #logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

header #header-container #header-list-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #header-container #header-list-wrapp #header-list {
  width: 80%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#progress-indicator-bar {
  position: fixed;
  top: 8vh;
  height: 2px;
  width: 100%;
  z-index: 999;
}

#progress-indicator {
  background: -webkit-linear-gradient(300deg, #f08080, #4d61fc);
  height: 2px;
  width: 100%;
}

#progressed {
  height: 2px;
  width: 90%;
  z-index: 1000;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  right: 0;
}

#translate-icon-wrapp {
  height: 45px;
  width: 80px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

#translate-icon-wrapp img {
  width: 20px;
  height: 20px;
}

#translate-icon-wrapp p {
  font-weight: 600;
}

#translate-options-wrapp {
  height: 122px;
  width: 160px;
  margin-left: -40px;
  margin-top: 20px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#translate-options-wrapp #translate-options-heading-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}

#translate-options-wrapp #translate-options-heading-wrapp p {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}

#translate-options-wrapp #translate-options-list-wrapp {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  list-style: none;
}

#translate-options-wrapp #translate-options-list-wrapp li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 14px;
}

#translate-options-wrapp #translate-options-list-wrapp li:hover {
  background: #fafafa;
  -webkit-transition: .4s;
  transition: .4s;
}

#header-a-btn a {
  border: 1px solid #4d61fc;
  background: #4d61fc;
  color: #f6f6f6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

#header-a-btn a:hover {
  background: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about {
  height: 100vh;
  width: 100%;
  background-color: #e9f1ff;
  background-color: #6167d6;
  background: #333;
}

.container {
  height: 100%;
  width: 70%;
  margin-left: 15%;
}
/*# sourceMappingURL=style.css.map */