@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500;700&family=Poppins:wght@700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

#logo {
  color: lightcoral;
}

a {
  color: #737373;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#landing-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#landing-bg img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

#landing {
  height: 100vh;
  width: 100%;
}

#landing-heading {
  font-size: 68px;
  font-weight: bold;
  line-height: 98px;
  max-width: 84%;
  color: #222;
  text-align: center;
  z-index: 10;
}

#landing-heading-bg {
  color: #f6f6f6;
  background-color: #6167d6;
  margin-right: 10px;
  padding-left: 10px;
  text-decoration: underline;
  z-index: 10;
  -webkit-text-decoration-color: #f6f6f6;
          text-decoration-color: #f6f6f6;
}

.landing-heading-un {
  color: #222;
  margin-right: 5px;
  padding-left: 10px;
  -webkit-text-decoration-color: #6167d6;
          text-decoration-color: #6167d6;
  background: -webkit-linear-gradient(45deg, lightcoral, #4d61fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

#landing-subheading {
  line-height: 30px;
  color: #777777;
  text-align: center;
  width: 50%;
  z-index: 10;
}

a {
  display: block;
}

#landing-cta {
  height: 70px;
  width: 340px;
  background: #4d61fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
          box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 10;
}

#landing-cta:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: #344bfc;
}

#landing-bottom-link {
  color: #5f71fc;
  display: block;
  max-width: 150px;
  opacity: .7;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 10;
}

#landing-bottom-link:hover {
  opacity: 1;
}

#header-gap {
  height: 8vh;
}

#landing-content {
  height: 90vh;
}

#landing-content-wrapp {
  height: 92vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing-heading-wrapp {
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20vh;
}

#landing-subheading-wrapp {
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6.5vh;
}

#landing-cta-wrapp {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing-bottom-link-wrapp {
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: #fafafa;
  z-index: 9999;
}

header #header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-container #header-logo-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header-container #header-logo-wrapp #logo {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

header #header-container #header-list-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #header-container #header-list-wrapp #header-list {
  width: 80%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  width: 70%;
  margin-left: 15%;
}
/*# sourceMappingURL=style.css.map */