@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500;700&family=Poppins:wght@700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

#logo {
  font-family: 'Hepta Slab', serif;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing #landing-left {
  background: #e9f1ff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#landing #landing-left #landing-header {
  height: 10vh;
  width: 80%;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing #landing-left #landing-header #landing-header-logo-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#landing #landing-left #landing-header #landing-header-logo-wrapp #logo {
  font-weight: bold;
  font-size: 20px;
}

#landing #landing-left #landing-header #landing-header-list-wrapp {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#landing #landing-left #landing-header #landing-header-list-wrapp li a {
  color: #6f6f6f;
  font-weight: bold;
}

#landing #landing-left #landing-heading {
  margin-left: 20%;
  font-size: 52px;
  font-weight: 700;
  margin-top: 15vh;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

#landing #landing-left #landing-subheading {
  margin-left: 20%;
  margin-top: 5%;
  max-width: 70%;
  color: #4f4e4e;
}

#landing #landing-left a {
  display: block;
}

#landing #landing-left #landing-cta {
  height: 65px;
  width: 280px;
  background: #4d61fc;
  margin-left: 20%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
          box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  -webkit-transition: .4s;
  transition: .4s;
}

#landing #landing-left #landing-cta:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #344bfc;
}

#landing #landing-left #landing-bottom-link {
  margin-left: 20%;
  color: #5f71fc;
  margin-top: 15%;
  display: block;
  max-width: 150px;
}

#landing #landing-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background: #6167d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing #landing-right img {
  max-width: 100%;
}

#landing #landing-right #landing-right-rectangle1 {
  top: -30vh;
  right: 20%;
  position: absolute;
  width: 35%;
}

#landing #landing-right #landing-right-rectangle2 {
  top: 68vh;
  right: 41%;
  width: 15%;
  position: absolute;
}

#landing #landing-right #landing-right-stars {
  width: 20%;
  right: -10%;
  position: absolute;
  top: 20%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about {
  height: 100vh;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */